@font-face {
    font-family: 'Harmony';
    font-weight: normal;
    font-style: normal;
    src: url('./HarmonyOS_Sans_SC.ttf')
}

:root,
html.dark {
    scroll-behavior: smooth;

    --c-brand: #39BAE8;
    --c-brand-light: #39BAE8;
    --font-family: -apple-system, BlinkMacSystemFont, 'Harmony', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
